.main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

header {
    background-color: rgb(161, 101, 10);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-container {
    flex: 1;
    padding: 20px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-form label {
    margin-top: 10px;
}

.checkout-form input,
.checkout-form select {
    padding: 8px;
    margin-top: 5px;
}

.checkout-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.right-section {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.cart-items {
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}